Source: loop-wrapper
Section: python
Priority: optional
Maintainer: Thomas Lavergne, <t.lavergne@met.no>
Build-Depends: debhelper (>= 7),
               python (>= 2.6.6-3~)
Standards-Version: 3.9.3
X-Python-Version: >= 2.6


Package: loop-wrapper
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Description: Create a loop over start and end dates
 loop_wrapper will create a loop from a start-date to an end-date (possibly 
 with several days offset) and run a command for every date.
 .
 It allows also to run the commands in parallel on all CPUs.
